body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page{
  margin-left: 250px;
  padding: 30px;
  min-height: calc(100vh - 60px);
}
.btn-wrapper{
  text-align: center;
}
.btn{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 6px 12px;
  color: white;
  background-color: rgb(44, 170, 192);
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  outline: none;
  box-sizing: border-box;
  font-size: 12px;
  border: none;
  margin: 0 5px 0 5px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
}
.search{
  padding: 7px 12px;
  letter-spacing: 1px;
  box-sizing: border-box;
  font-weight: 500;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
  background-color: whitesmoke;
  border: 1px solid rgb(214, 212, 212);
}
.search__options{
  padding: 6px 12px;
  letter-spacing: 1px;
  box-sizing: border-box;
  font-weight: 500;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: rgb(249, 248, 250);
  border: 1px solid rgb(109, 112, 112);
  text-transform: uppercase;
  margin: 0 10px;
  cursor: pointer;
  color: black;
}

.btn:hover{
  background-color: rgb(62, 192, 209);
}
.btn:active{
  background-color: rgb(97, 214, 230);
}
.controls{
  margin: 25px 0 0;
  display: flex;
  justify-content: flex-end;
}

.read-data,
.edit-data{
  background-color: rgb(252, 252, 252);
  margin: 20px 0;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid rgb(214, 212, 212);
}

.action__read,
.action__edit{
  position: relative;
  margin-top: 60px;
}
.control__nav{
  position: fixed;
  top: 0;
  width: calc(100% - 250px);
  left: 250px;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 60px;
  box-sizing: border-box;
}


/*table styles*/
.read__table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 14px;
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}

.read__table td div,
.read__table th div{
  overflow: hidden;
}
.read__table td{
  font-weight: normal;
}
.read__table__show{
  width: 150px;
}
.read__table__edit{
  width: 70px;
}
.read__table__delete{
  width: 100px;
} 
.read__table th{
  /* background-color: blue; */
  /* color: white; */
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.read__table th,
.read__table td{
  padding: 13px 8px;
}
.read__table tr{
  background-color: rgb(253, 253, 253);
  border-bottom: 1px solid rgb(230, 227, 227);
}

/*create table styles*/
.action__create{
  max-width: 600px;
  margin: auto;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}
.action__create .btn-wrapper{
  padding: 30px 0;
}
.create__location__table{
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  background-color: rgb(253, 253, 253);
  padding: 20px;
}
.create__location__table td{
  padding: 10px 8px;
}
.create__location__table tr td:nth-child(1) div{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  overflow: hidden;
}
.create__location__table tr td:nth-child(1){
  width: 250px;
}
.create__location__table input{
  width: 100%;
  padding: 7px 10px;
  box-sizing: border-box;
}
.paginate-btn{
  background-color: whitesmoke;
  color: gray;
}
.paginate-btn:hover{
  background-color: rgb(233, 235, 233);
}

/*inline loader*/

.inline__loader .fetch__loader{
  height: auto;
  position: static;
  width: 100%;
  background-color: inherit;
  margin: 20px 0;
}
.inline__loader .loader__spinner{
  width: 20px;
  height: 20px;
}