.cart__summary{
    width: 35%;
    margin-left: 5%;
    flex-shrink: 0;
    padding: 30px 30px;
    box-sizing: border-box;
    background-color: var(--clr-light);
    border-radius: 4px;
}
.cart__summary > h1{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 14px;
    border-bottom: 1px solid rgb(211, 208, 208);
}
.cart__summary__total{
    border-top: 1px solid rgb(211, 208, 208);
    margin-top: 15px;
}

.cart__summary__details{
    display: flex;
    justify-content: space-between;
}
.cart__summary__details p{
    margin: 8px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

@media screen and (max-width: 1100px){
    .cart__summary{
        width: 100%;
        margin: 40px 0 40px;
    }
}