.error{
    height: 100vh;
    overflow: hidden;
    background-color: var(--clr-bg);
}
.error__wrapper{
    position: relative;
    height: 100%;
}
.error__info{
    position: absolute;
    bottom: 15%;
    left: 0;
}
.error__info h1{
    font-size: 120px;
    font-weight: normal;
    text-transform: capitalize;
    margin: 0;
}
.error__btn{
    padding: 9px 15px;
    font-size: 16px;
    position: absolute;
    bottom: 5%;
}


@media screen and (max-width: 420px){
    .error__info{
        bottom: 20%;
    }
    .error__info h1{
        font-size: 90px;
    }
    .error__btn{
        bottom: 10%;
    }
}
