.checkout__notlogged{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.checkout .center{
    padding-top: 80px;
    display: flex;
    align-items: flex-start;
    position: relative;
}
.checkout__form{
    width: 60%;
    flex-shrink: 0;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    /* background-color: rgba(var(--clr-light-rgb),.2); */
}

.anim--inp--wrapper{
    position: relative;
    /* width: 250px; */
    width: 100%;
    height: 40px;
    margin: 25px 0;
    /* background-color: rgb(247, 247, 247); */
}
.state__dropdown{
    position: relative;
    height: 100%;
    width: 100%;
}
.state__option__head{
    height: 100%;
    width: calc(100% - 16px);
    border: 3px solid rgb(177, 168, 168);
    border-radius: 4px;
    padding: 0 5px;
    color: rgb(46, 44, 44);
    font-family: inherit;
    letter-spacing: 1px;
    display: flex;
    font-size: 14px;
    align-items: center;
    /* position: relative; */
    /* justify-content: center; */
    text-transform: lowercase;
    /* text-align:center; */
}
/* .state__option__head::after{
    content: ''
} */
.state__options{
    background-color: white;
    height: 180px;
    overflow-y: scroll;
    border: 1px solid rgb(201, 201, 201);
    box-shadow: 0 0 5px 3px rgb(238, 238, 238);
    /* display: none; */
    position: absolute;
    width: 100%;
    top: calc(100% + 8px);
    z-index: 5;
    color: rgb(46, 44, 44);
    font-family: inherit;
    letter-spacing: 1px;
    box-sizing: border-box;
}
.state__op{
    padding: 8px 10px;
    cursor: pointer;
    text-transform: uppercase;
    /* text-align: center; */
}
.state__op:hover{
    /* padding: 8px 10px; */
    background-color: rgb(243, 243, 243);
}
.anim--inp{
    position: relative;
    width: calc(100% - 16px);/*paddin plus border*/
    height: 100%;
    /* border: none; */
    /* border: 3px solid rgb(199, 199, 199); */
    /* border: 3px solid rgb(199, 199, 199); */
    /* border: 3px solid var(--clr-light); */
    border: 3px solid rgb(177, 168, 168);
    border-radius: 4px;
    padding: 0 5px;
    color: rgb(46, 44, 44);
    font-family: inherit;
    letter-spacing: 1px;
    font-size: 14px;
    /* box-sizing: border-box; */
    /* background-color: inherit; */
}
.anim--inp--label{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 15px;
    background: transparent;
    transform: translateY(-50%);
    padding: 0px 3px;
    transition: all .3s;
    pointer-events: none;
    font-size: 17px ;
    text-transform: lowercase;
    letter-spacing: 1px;
}
.anim--inp--error{
    position: absolute;
    top: calc(100% + 10px);
    right: 5px;
    background-color: rgb(250, 92, 92);
    color: rgb(255, 255, 255);
    font-size: 12px;
    letter-spacing: 1px;
    padding: 3px 7px;
    border-radius: 4px;
    z-index: 2;
}
.anim--inp--error::after{
    content: '';
    position: absolute;
    right: 10px;
    bottom: 100%;
    border-bottom: 5px solid rgb(250, 92, 92);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: block;
}
.coupon__error{
   top: calc(100% + 5px); 
}
.anim__text__head__label,
.anim--inp:focus + .anim--inp--label,
.anim--inp:valid + .anim--inp--label{
    top: 0;
    background: white;
    font-size: 13px;
    color: gray;
}


.form__type{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin: 10px;
    margin-top: 50px;
}
.form__type.type-billing{
    margin-top: 50px;
}
.checkout__checkbox{
    display: flex;
    align-items: center;
    margin: 7px auto;
    width: 80%;

}
.checkout__checkbox input{
    margin-right: 10px;
}
.checkout__checkbox label{
    font-size: 12px;
    color: gray;
}
.checkout__btn{
    color: var(--clr-bg);
    /* padding: 7px 12px; */
    border-radius: 50px;
    border: 2px solid var(--clr-sec);
    /* text-align: center; */
    background-color: var(--clr-sec);
    
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    margin: 30px 0 30px;
    /* margin: 60px 0; */
    transition: background-color 300ms,
                color 300ms;
    cursor: pointer;
    outline: none;
    width: 80%;
    margin: 30px auto;
    padding: 15px;
    border-radius: 4px;
}
.billing,
.shipping,
.user__form,
.promo__code{
    width: 80%;
    /* border: 1px solid rgb(235, 235, 235); */
    margin: auto;
    border-radius: 4px;
    padding: 20px 0 0;
}

.promo__wrapper{
    display: flex;
    margin-bottom: 20px;
    /* background-color: rgb(248, 237, 239);
    padding: 10px; */

    /* width: 100%; */
    /* align-items: center; */
}
.promo__input__wrapper{
    width: 100%;
    margin-right: 10px;
    position: relative;
}

.promo__code input{
    /* border: 3px solid rgb(199, 199, 199); */
    border: 3px solid rgb(177, 168, 168);
    /* border: 3px solid black; */
    padding: 8px 45px 8px 5px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    letter-spacing: 1px;
}

/*valid promo animation*/
.promo__input__wrapper svg{
    position: absolute;
    top: 50%;
    width: 24px;
    right: 10px;/*24px plus 10px is 34 which is less than 45px padding*/
    transform: translateY(-50%);
}
.circ{
    stroke: rgb(0, 199, 0);
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.tick{
    stroke: rgb(0, 199, 0);
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
    -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
    -o-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}
.valid path{
    opacity: 1;
    stroke-dashoffset: 0;
}
.promo__code button{
    box-sizing: border-box;
    padding: 8px 25px;
    outline: none;
    letter-spacing: 1px;
    /* background-color: rgb(60, 197, 252); */
    background-color: var(--clr-sec);
    /* background-color: black; */
    /* color: black; */
    /* border: 3px solid var(--clr-sec); */
    border: none;
    font-size: 16px;
    border-radius: 4px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: background-color 300ms;
}
/* .promo__code button:hover{
    background-color: rgba(0,0,0,.7);
} */
.promo__code::placeholder{
    font-size: 17px;
    letter-spacing: 1px;
}
.btn__wrapper{
    box-sizing: border-box;
    text-align: center;
}

.checkout__sidebar .cart__products{
    width: 100%;
    margin: 0;
    padding: 0 30px;/*same as cart summary*/
    /* background-color: rgb(252, 252, 252); */
    background-color: rgba(var(--clr-light-rgb),.2);
    margin: 0 0 30px;
    box-sizing: border-box;
}
.checkout__sidebar{
    width: 35%;
    margin-left: 5%;
}
.checkout__sidebar .cart__summary{
    width: 100%;
    margin: 20px 0;
}
.checkout__sidebar .cart__item img{
    width: 50px;
    height: 50px;
}
.checkout__sidebar .cart__item{
    padding: 28px 0;
    /* width: 100%; */
}
.checkout__sidebar .cart__item__name{
    font-size: 14px;
}
.checkout__sidebar .cart__item__price{
    font-size: 14px;
}
.checkout__sidebar .cart__item__info{
    padding: 0 5px 0 0;
}
.checkout__sidebar .cart__item__qty span{
    width: 8px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
    user-select: none;
    color: black;
}
.checkout__sidebar .cart__item__remove{
    height: 20px;
    width: 22px;

}
.checkout__sidebar .cart__item__remove svg path{
    stroke: rgb(185, 184, 184);
}
@media screen and (max-width: 1100px){
    /* .billing,
    .shipping,
    .user__form,
    .promo__code{
        width: 100%;
    } */
    .checkout__sidebar .cart__products{
        margin: 30px 0 30px;
    }
    .checkout__sidebar {
        width: 100%;
        margin: 0;
    }
    .checkout .center{
        flex-direction: column;
    }
    .checkout__form{
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    .promo__code button{
        padding: 8px 10px;
    }
    .billing,
    .shipping,
    .user__form,
    .promo__code,
    .checkout__btn{
        width: 100%;
    }
    .checkout__checkbox{
        margin: 0;
        width: 100%;
    }
}
@media screen and (max-width:420px){

    .checkout__form{
        border: none;
        padding: 0;
    }

    .billing,
    .shipping,
    .user__form,
    .promo__code,
    .checkout__btn{
        width: 100%;
    }

    .checkout__sidebar .cart__products{
       padding: 0 2px;
    }

    .checkout__checkbox{
        margin: 0;
        width: 100%;
    }
    .form__type{
        font-weight: 500;
        white-space: nowrap;
        margin: 10px 0 0;
        font-size: 26px;
    }
}