.gallery{
    padding-top: 110px;
}
.gallery__center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery__video{
    width: 48%;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    margin-bottom: 4%;
}
.video__wrapper{
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    border: 1px white
}

.video__wrapper iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
@media screen and (max-width: 768px){
    .gallery__video{
        width: 100%;
        margin-bottom: 8%;
    }
}