.home__hero{
    height: 110vh;
    background-color: var(--clr-sec);
    overflow: hidden;
}
.hero__img{
    height: 100%;
    margin: auto;
    width: 1150px;
    background: url('../../assets/images/hero_image2.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.home__slider{
    position: relative;
}
.slider__cup{
    min-height: 100vh;
    width: 100%;
    background-color: var(--clr-sec);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.cup__wrapper{
    margin: auto;
}
.cup__img{
    height: 500px;
    width: 500px;
    background: url('../../assets/images/coffee_cup_black2.jpg') no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
    transition: 300ms;
}
.cup__img.visible{
    opacity: 1;
}
.home .btn__wrapper{
    text-align: center;
}
.home .btn-locate{
    cursor: pointer;
    outline: none;
    color: var(--clr-bg);
    padding: 14px 80px;
    border-radius: 50px;
    border: 2px solid var(--clr-bg);
    text-align: center;
    background-color: var(--clr-sec);
    
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* display: block; */
    margin: 60px 0;
    transition: background-color 300ms,
                color 300ms;
}
.home .btn-locate:hover{
   background-color: var(--clr-bg);
   color: var(--clr-sec);
}

.home .slider__hidden{
    position: sticky;
    padding: 80px 0;
    /* min-height: 100vh; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .slider__head__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .home .slider__hidden > div{
    width: var(--wdth);
    max-width: var(--mx-wdth);
} */
.slider__hidden .slider__head{
    text-align: center;
    font-weight: 500;
    /* font-weight: 500; */
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* margin-top: 40px; */
    margin: 0;
}
/* .home .btn-shopall{
    font-size: 12px;
    padding: .5em 1em;
} */
.home .btn-shopall
{
    color: rgb(19, 167, 204);
    padding: 6px 0 6px 8px;
    border-radius: 50px;
    text-align: center;
    
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 300ms,
                color 300ms;
}
.home .btn-shopall:hover{
   color: rgb(29, 116, 138)  
}
.home .slider__wrapper{
    height: 90%;
    overflow: hidden;
    position: relative;
}
.home .slider__wrapper{
    position: relative;
}
.home .slider__wrapper span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    z-index: 2;
    display: flex;
    padding: 7px 4px;
    cursor: pointer;
    background-color: var(--clr-sec);
}
.home .slider__wrapper polyline{
    stroke: white;
    /* fill: white */
}
.home .slider__wrapper span.prev{
    left: 0;
    border-radius: 0 3px 3px 0;
}
.home .slider__wrapper span.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}


.home .slider__products{
    position: relative;
    bottom: -24px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 20px 0 40px;
    background-color: white;
    padding-left: 0px;
}

.slider__products .product{
    width: 20%;
    flex-shrink: 0;
    margin-right: 6.66%;
    /* background-color: rgb(247, 247, 247); */
    /* border:1px solid rgb(214, 212, 212); */
    background-color: var(--clr-light);
    box-shadow: 0px 0px 4px 2px rgb(228, 225, 225);
    border-radius: 2px;
    padding: 10px;
    box-sizing: border-box;
}
.slider__products .product__name,
.slider__products .product__price{
    text-align: center;
    font-size: 14px;
}

.home__stores{
    width: 100%;
    height: 100vh;
}
.home__stores{
    height: 100vh;
}
.home__stores .stores__center{
    display: flex;
    height: 100%;
}
.stores__text,
.stores__images{
    width: 50%;
    flex-shrink: 0;
}
.about-btn-wrapper{
    padding: 20px 0;
}
/* .about-btn{
    color: white;
    padding: 7px 14px;
    border: none;
} */
/* .about-btn:hover{
    background-color: rgb(59, 58, 58);
} */
.stores__images{
    display: flex;
    align-items: center;
}
.stores__text{
    display: flex;
    align-items: center;
    padding-right: 8%;
    font-weight: 600;
    box-sizing: border-box;
}
.stores__text h1{
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 35px;
}
.stores__text p{
    letter-spacing: 1px;
    line-height: 1.6;
}

.stores__slider__wrapper{
    display: flex;
    width: 100%;
    position: relative;
    padding-top: 120%;
    overflow: hidden;
    background-color: black;
}
.store__slider__img{
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 500ms linear;/*added this*/
}
.store__slider__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*and the next 3*/
.store__slider__img.next-slide{
    z-index: 1;
    transform: translateX(100%);
}
.store__slider__img.last-slide{
    transform: translateX(-100%);
    z-index: 2;
}
.store__slider__img.active-slide{
    /* opacity: 1; */
    z-index: 2;
    transform: translateX(0);
}

.home__subscribe{
    padding: 80px 0;
    /* background-color: #675f6b; */
    background-color: var(--clr-sec);
}
.home__subscribe .subscribe__letter{
    background-color: white;
    padding: 50px;
    max-width: 500px;
    margin: auto;
}
.home__subscribe h1{
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* color: black; */
    color:rgb(243, 39, 39);
}
.home__subscribe .sub__input{
    max-width: 450px;
    margin: 40px auto;
    display: flex;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
}
.home__subscribe .sub__input .sub__inp__wrapper{
    width: 100%;
    position: relative;
}
/* .home__subscribe .sub__input .sub__inp__wrapper svg{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
} */
.home__subscribe .sub__input .sub__inp__wrapper svg path{
    /* stroke:rgb(243, 39, 39); */
    fill: rgb(243, 39, 39);
    
}
.home__subscribe .sub__input .sub__inp__wrapper svg{
    /* stroke:rgb(243, 39, 39); */
    /* fill: rgb(243, 39, 39); */
    margin-right: 5px;
    font-size: 16px;
}

.home__subscribe .sub__input input{
    letter-spacing: 1px;
    border-radius: 4px 0 0 4px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0 10px 0 10px;
    border: 2px solid rgb(35, 29, 36);
    box-sizing: border-box;
}
.home__subscribe .sub__input button{
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0 4px 4px 0;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    margin: 0;
    padding: 0;
    padding: 0 14px;
    flex-shrink: 0;
    color: white;
    background-color: rgb(35, 29, 36);
    transition: background-color 300ms;
}
.home__subscribe .sub__input button:hover{
    background-color: rgb(83, 79, 83);
}
.home__subscribe .sub__input button:active{
    /* background-color: rgb(245, 153, 153); */
    background-color: rgb(129, 125, 129);

}
.sub__error{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(243, 39, 39);
    position: absolute;
    bottom: -28px;
    font-weight: 400;
    letter-spacing: 1px;
}

.home__logo__display{
    padding: 100px 0 50px;
    /* background-color: var(--clr-sec); */
    box-sizing: border-box;
}
.home .logo__img{
    width: 250px;
    height: 300px;
    background: url('../../assets/images/sjb_logo.jpg') no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}
.home__logo__socials{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__logo__socials h1{
    margin-right: 15px;
}
.home__logo__socials a{
    display: block;
}
.home__logo__socials img{
    margin: 0 9px;
    cursor: pointer;
    display: block;
}



@media screen and (max-width:1200px){
    .hero__img{
        width: 880px;
    }
}
@media screen and (max-width:920px){
    .hero__img{
        width: 600px;
    }
    .slider__products .product{
        width: 26%;
        margin-right: 11%;
    }
}

@media screen and (max-width: 700px){
    .stores__center{
        flex-direction: column;
    }
    .home__stores{
        height: auto;
        padding-top: 40px;
    }
    .stores__text{
        display: flex;
        align-items: center;
        padding-right: 8%;
        box-sizing: border-box;
    }
    .stores__text,
    .stores__images{
        width:  100%;
        flex-shrink: 0;
    }
    .stores__images{
        order: -1;
    }
    .stores__text{
        padding-right: 0;
        text-align: center;
        padding-bottom: 50px;
    }
}
@media screen and (max-width:620px){
    .hero__img{
        width: 600px;
    }
    .cup__img{
        width: 350px;
    }
    .slider__products .product{
        width: 46%;
        margin-right: 8%;
    }
    .home__subscribe h1{
        font-size: 20px;
    }
    .home__subscribe .sub__input{
        height: 35px;
    }
    .home__subscribe .sub__input button{
        font-size: 13px;
        padding: 0 10px;
    }
    .home__subscribe .sub__input{
        margin: 40px auto 0;
    }
}
@media screen and (max-width:420px){
    .home__hero{
        display: flex;
        align-items: center;
    }
    .hero__img{
        height: 70%;
        width: 380px;
        background: url('../../assets/images/hero_image_small2.jpg') no-repeat;
        background-size: contain;
    }
    .cup__img{
        width: 280px;
    }
    .home .btn-locate{
        padding: 14px 40px;
        margin: 0 0 20px 0;
    }

    .slider__products .product{
        width: 45%;
        margin-right: 10%;
        padding: 5px;
        box-shadow: 0 0 2px 2px rgb(235, 234, 234);
        /* border: 1px solid rgb(235, 234, 234); */
        /* width: 80%;
        margin-left: 10%;
        margin-right: 10%; */
    }
    /* .slider__products .product:nth-last-child(1){
        padding-right: 10%;
    } */
    .home .slider__products{
        padding: 20px 0 40px;
        /* padding-left: 3px; */

    }
    .home .slider__hidden{
        padding: 50px 0;
    }
    .home .slider__wrapper span.prev,
    .home .slider__wrapper span.next{
        display: none;
    }
    .slider__hidden .slider__head{
        font-size: 14px;
    }
    .home__subscribe h1{
        font-size: 14px;

    }
    .home__subscribe .subscribe__letter{
        padding: 30px 10px 40px;
    }
    .home__subscribe .sub__input{
        margin: 30px auto 5px;
    }
    .home__subscribe .sub__input button{
        font-size: 11px;
        /* padding: 0 10px; */
    }
    .sub__error{
        font-size: 10px;
        bottom: -23px;
    }
    .home__subscribe .sub__input .sub__inp__wrapper svg{
        /* stroke:rgb(243, 39, 39); */
        /* fill: rgb(243, 39, 39); */
        margin-right: 3px;
        font-size: 13px;
    }
    /* .home__subscribe{
        padding: 80px 0;
        background-color: var(--clr-sec);
    }
    .home__subscribe .subscribe__letter{
        background-color: white;
        padding: 50px;
        max-width: 500px;
        margin: auto;
    }
    .home__subscribe h1{
        text-align: center;
        font-size: 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color:rgb(243, 39, 39);
    } */
}