.home{
    padding-top: 50px;
}
.home-sec-flex{
    display: flex;
    flex-direction: row;
}
.home-sec-flex-text,
.home-sec-flex-img{
    flex-shrink: 0;
    width: 50%;
}
.home-sec-flex-text{
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*btn styles*/
.home__btn,
.coming__soon{
    display: inline-block;
    padding: 15px 40px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #b79476;
    color: #412e24;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 300ms;
    white-space: nowrap;
    background-color: inherit;
}


.home__btn:hover{
    opacity: .7;
}
.home__btn:active{
    opacity: 1;
}
/*home banner*/
.home__banner{
    width: 100%;
    min-width: 100%;
    max-width: 1920px;
    margin: auto;

    position: relative;

}
.home__banner::after{
    content:'';
    display: block;
    padding-bottom: 56.25%;
}
.home__banner__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/banner.jpg');
    background-size: cover;
    background-position: center right;
}

/*home stores*/
.home__stores{
    background-color: #d8baa3;
    overflow: hidden;
    position: relative;
}
.home__stores .home-sec-flex{
    max-width: 1550px;
    width: 100%;
    margin: auto;

    padding: 50px 180px;
    justify-content: space-between;
    box-sizing: border-box;
}
.home__stores .home-sec-flex-img{
    width: 100%;
    height: 500px;
    max-width: 500px;
    background-image: url('../../assets/images/sjbcup.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.home__stores .home-sec-flex-text{
    line-height: 1.6;
    font-size: 22px;
    font-weight: 500;
    color: #412e24;
    margin: 0;
    max-width: 350px;
}

/*home menu*/
.home__menu{
    background-color: #e7dad2;
}
.home__menu .home-sec-flex{
    max-width: 1550px;
    width: 100%;
    margin: auto;
}
.home__menu .home-sec-flex-text{
    padding-right: 100px;
}
.home__menu .home-sec-flex-text p{
    line-height: 1.6;
    font-size: 22px;
    font-weight: 500;
    color: #412e24;
    text-align: right;
    margin: 0;
    max-width: 350px;
    margin-left: auto;
}
.home__menu .home-sec-flex-img{
    position: relative;
    /* height: 650px; */
}
.home__menu .home-sec-flex-img .img__height__control{
    width: 60%;
    max-width: 320px;
}
.home__menu .home-sec-flex-img .img__height__control::after{
    content:'';
    display: block;
    padding-bottom: calc(150% + 130px);
}
.home__menu__img{
    width: 60%;
    max-width: 320px;
    position: absolute;
}
.home__menu__img::after{
    content:'';
    display: block;
    padding-bottom: 150%;
}
.home__menu__img .menu--im{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: orange;
}
.home__menu__img .home__menu__cro__img{
    background: url('../../assets/images/menu_item1.jpg');
    background-size: cover;
    background-position: center right;
}
.home__menu__img .home__menu__cof__img{
    background: url('../../assets/images/menu_item2.jpg');
    background-size: cover;
}

.home__menu__img.img1{
    right: 10px;
    transform: translateX(-90%);
    top: -50px;
    z-index: 1;
}
.home__menu__img.img2{
    right: 10px;
    bottom: 100px;
    z-index: 2;
}

.home__menu .link__wrapper{
    margin: 25px 0;
    text-align: right;
}

/*home sub*/
.home-sub {
    background-color: var(--clr-sec);
    color: white;
    text-align: center;
}
.home-sub .home-sec-flex-img{
    height: 700px;
}

.home-sub .home-sec-flex{
    max-width: 1550px;
    width: 100%;
    margin: auto;
}

.home__sub__1 p{
    width: 80%;
    margin: 0px auto;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5;
}

.home__sub__1 h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 8px 0;
    padding: 0 0 4px 0;
    position: relative;
    display: inline-block;
}
.home__sub__1 h1:after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    bottom: -2px;
    right: 0;
    background-color: white;
}
.home-sub .division{
    margin: 30px 0;
}
.home-sub .division svg{
    margin: 0 5px;
}

.home__sub__1 .home-sec-flex-img{
    background-image: url('../../assets/images/cup-sub2.jpg');
    background-size: cover;
    background-position: center bottom;
}
.home__sub__2 .home-sec-flex-img{
    background-image: url('../../assets/images/cup-sub.jpg');
    background-size: cover;
    background-position: center bottom;

}
.home__sub__2 .home-sec-flex-text p{
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5;
    max-width: 350px;
    text-align: left;
}
.home__sub__2 .home-sec-flex-text {
    text-align: left;
}

.home__sub__2 input{
    border:none;
    border-bottom: 3px solid white;
    padding: 10px 8px;
    background-color: inherit;
    outline: none;
    width: 100%;
    caret-color: white;
    margin: 20px 0;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}
.home__sub__2 input::placeholder{
    color: rgb(190, 185, 185);
    letter-spacing: 1px;
    font-size: 16px;
}
.coming__soon,
.home__sub__btn{
    border-color: white;
    color: white;
}
.home__sub__btn{
    margin: 35px 0 28px;
}
.home .sub__error{
    position: absolute;
    letter-spacing: 1px;
    font-size: 13px;
    color: rgb(235, 229, 229);
    text-transform: uppercase;
    margin-left: 5px;
}
/*home marquee ribbon*/
.home__inf__txt{
    background-color: #ffad5e;
    padding: 13px 0;
 
    overflow: hidden;
    text-align: center;
}

.home__inf__txt div{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.home__inf__txt div span.code{
    color: white;
}

@media screen and (max-width: 1100px){
    .home-sub .home-sec-flex-img{
        height: 600px;
    }
}
@media screen and (max-width: 800px){
    .home-sec-flex{
        flex-direction: column;
        padding: 20px ;
        box-sizing: border-box;
    }

    .home-sec-flex-text,
    .home-sec-flex-img{
        width: 90%;
        margin: auto;
    }
    .home-sub .home-sec-flex-img{
        height: 600px;
    }
    .home__sub__2 .home-sec-flex{
        flex-direction: column-reverse;
    }
    .home__inf__txt div{
        font-size: 17px;
        letter-spacing: 1px;
    }
    .home__menu .home-sec-flex-text{
        padding-right: 0px;
    }

    .home__menu .home-sec-flex-text .link__wrapper{
        text-align: center;
        margin: 50px 0;
    }

    .home__menu .home-sec-flex-img .img__height__control::after{
        padding-bottom: calc(150% + 80px);
    }
    .home__menu__img{
        width: 80%;
        max-width: 335px;
    }
    .home__menu__img.img1{
        left: 0px;
        transform: translateX(0);
    }
    .home__menu__img.img2{
        right: 0px;
        top: 30px;
        bottom: auto;
    }
    .find__store__btn{
        border-color: white;
    }
    .home__stores .home-sec-flex{
        padding: 100px 20px 250px;
    }
    .home__stores .home-sec-flex-img{
        position: absolute;
        width: 80%;
        background-position: center bottom;
        background-size: contain;
        z-index: 1;
        right: 0;
        bottom: 0;
        transform: translateY(-80px);
    }
    .home__stores .home-sec-flex-text{
        font-weight: 600;
        position: relative;
        z-index: 2;
        transform: translateY(-50px);
    }
}
@media screen and (max-width: 650px){
    .home-sub .home-sec-flex-img{
        height: 460px;
    }
    .home__inf__txt div{
        font-size: 14px;
        letter-spacing: 1px;
    }
    .home__menu__img{
        width: 53%;
    }

}


@media screen and (max-width:420px){
    .home__inf__txt div{
        font-size: 12px;
        letter-spacing: 1px;
    }
    .home-sub .home-sec-flex-img{
        height: 350px;
    }
    .home__menu .home-sec-flex-img .img__height__control::after{
        content:'';
        display: block;
        padding-bottom: calc(150% + 30px);
    }
    .home__menu__img.img2{
        right: 0px;
        top: 0px;
        bottom: auto;
    }

}