.single__order{
    background-color: rgb(254, 254, 254);
    padding: 20px;
    border: 1px solid rgb(240, 240, 240);
    margin: 20px 0;
}
.single__order h1{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 15px 0;
}
.single__order h1 span{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
.order__item{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid rgb(219, 216, 216);
    color: black;
}
.order__item img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    flex-shrink: 0;
}
.order__loader .loader__spinner{
    width: 20px;
    height: 20px;
    margin: auto;
    border: 2px solid rgb(231, 226, 226);
    border-top-color: rgb(189, 184, 184);
}
.no__orders{
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.7;
    color: rgb(151, 150, 150);
}
@media screen and (max-width: 420px) {
    .single__order h1{
        font-size: 12px;
    }
    .single__order h1 span{
        font-size: 12px;
    }
}
