.fetch__error{
    height: 100vh;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    left: 250px;
    
    z-index: 6;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* background-color: rgba(248, 248, 248, 0.623); */
}
.fetch__error h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

