.product__edit__img{
    width: 15%;
    margin: 0 .8% ;
    position: relative;
}
.product__edit__img:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.read__text{
    white-space: normal;
}
.product__edit__img img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}
.edit__images{
    width: 100%;
    padding: 20px 28px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(253, 253, 253);

}