.forgot{
    background-color: var(--clr-sec);
}
.forgot__center{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forgot__form{
    padding: 40px 20px 10px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
    max-width: 320px;
    width: 100%;
}
.forgot__form h1{
    margin: 0 0;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}
.input__wrapper{
    position: relative;
    margin: 20px 0;
}
.input__wrapper input{
    padding: 12px 40px 12px 12px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(201, 200, 200);
    letter-spacing: 1px;
}
.input__wrapper input::placeholder{
    letter-spacing: 1px;
}
.input__wrapper svg{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.input__wrapper .hide__eye{
    display: none;
}
.input__wrapper.visible .hide__eye{
    display: block;
}
.input__wrapper.visible .show__eye{
    display: none;
}
.forgot__form .btn-wrapper{
    margin: 20px 0 10px;
}
.forgot__form button{
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: var(--clr-sec);
    color: white;
    transition: 200ms;
}
.forgot__error{
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(247, 40, 40);
    font-weight: 500;
    margin:0;
}
.forgot__form button:hover{
    background-color: rgb(68, 65, 65);
}
.forgot__form button:active{
    background-color: rgb(151, 149, 145);
}
@media screen and (max-width:420px){
    .forgot__form h1{
        font-size: 18px;
    }
}