/*hero image styles------------------------*/
.home .home__hero{
    height: 110vh;
    background-color: rgb(241,238,233);
    overflow: hidden;
}
.home .hero__img{
    height: 100%;
    margin: auto;
    width: 100%;
    background: url('../../assets/images/hero__sjb.JPG') no-repeat;
    background-position: center;
    background-size: cover;
}

/*second section - shutter(or slider)-------------------------*/

/*slider top*/
.home .home__slider{
    position: relative;
}
.home .slider__cup{
    min-height: 100vh;
    width: 100%;
    background-color: var(--clr-sec);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.home .cup__img{
    height: 500px;
    width: 500px;
    background: url('../../assets/images/coffee_cup_black2.jpg') no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
    transition: 300ms;
}
.home .cup__img.visible{
    opacity: 1;
}
.home .btn-wrapper{
    margin-top: 30px;
}
.home .btn__locate{
    cursor: pointer;
    color: var(--clr-bg);
    padding: 14px 80px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: var(--clr-sec);
    
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 60px 0;
    transition: background-color 300ms,
                color 300ms;
}
.home .btn__locate:hover{
   background-color: white;
   color: var(--clr-sec);
}

/*slider hidden - featured products*/

.home .slider__hidden{
    position: sticky;
    padding: 80px 0;
    bottom: 0;
}

.home .slider__head__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__hidden .slider__head{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

.home .btn-shopall{
    color: rgb(19, 167, 204);
    padding: 6px 0 6px 8px;    
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 300ms;
}
.home .btn-shopall:hover{
   color: rgb(29, 116, 138)  
}
.home .slider__wrapper{
    overflow: hidden;
    position: relative;
}

.home .slider__wrapper span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    z-index: 2;
    display: flex;
    padding: 7px 4px;
    cursor: pointer;
    background-color: var(--clr-sec);
}
.home .slider__wrapper polyline{
    stroke: white;
}
.home .slider__wrapper span.prev{
    left: 0;
    border-radius: 0 3px 3px 0;
}
.home .slider__wrapper span.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.home .slider__products{
    position: relative;
    bottom: -24px; /*hiding scrollbar*/
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 20px 0 40px;
    background-color: white;
}

.home .slider__products .product{
    width: 20%;
    flex-shrink: 0;
    margin-right: 6.66%;
    background-color: var(--clr-light);
    box-shadow: 0px 0px 4px 2px rgb(228, 225, 225);
    border-radius: 2px;
    padding: 10px;
    box-sizing: border-box;
}
.home .slider__products .product__name,
.home .slider__products .product__price{
    text-align: center;
    font-size: 14px;
}

/*stores------------------------------------------------------*/
.home .home__stores{
    width: 100%;
    height: 100vh;
}
.home .home__stores{
    height: 100vh;
}
.home .home__stores .stores__center{
    display: flex;
    height: 100%;
}
.home .stores__text,
.home .stores__images{
    width: 50%;
    flex-shrink: 0;
}
.home .about__btn__wrapper{
    padding: 20px 0;
}

.home .stores__images{
    display: flex;
    align-items: center;
}
.home .stores__text{
    display: flex;
    align-items: center;
    padding-right: 8%;
    font-weight: 600;
    box-sizing: border-box;
}
.home .stores__text h1{
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 35px;
}
.home .stores__text p{
    letter-spacing: 1px;
    line-height: 1.6;
}

.home .stores__slider__wrapper{
    display: flex;
    width: 100%;
    position: relative;
    padding-top: 120%;
    overflow: hidden;
    background-color: black;
}
.home .store__slider__img{
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 500ms linear;
}
.store__slider__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .store__slider__img.next-slide{
    z-index: 1;
    transform: translateX(100%);
}
.home .store__slider__img.last-slide{
    transform: translateX(-100%);
    z-index: 2;
}
.home .store__slider__img.active-slide{
    z-index: 2;
    transform: translateX(0);
}

/*subscription section-------------------------------------------*/
.home .home__subscribe{
    padding: 80px 0;
    background-color: var(--clr-sec);
}
.home .home__subscribe .subscribe__letter{
    background-color: white;
    padding: 50px;
    max-width: 500px;
    position: relative;
    margin: auto;
}
.home .home__subscribe h1{
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:rgb(243, 39, 39);
}
.home .home__subscribe .sub__input{
    max-width: 450px;
    margin: 40px auto;
    display: flex;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.home .home__subscribe .sub__input input{
    letter-spacing: 1px;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    height: 100%;
    width: 100%;
    padding: 0 10px 0 10px;
    border: 2px solid rgb(35, 29, 36);
    box-sizing: border-box;
}
.home__subscribe .sub__input button{
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0 4px 4px 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0 14px;
    flex-shrink: 0;
    color: white;
    background-color: rgb(35, 29, 36);
    transition: background-color 300ms;
}
.home .home__subscribe .sub__input button:hover{
    background-color: rgb(83, 79, 83);
}
.home .home__subscribe .sub__input button:active{
    background-color: rgb(129, 125, 129);

}
.sub__error{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(243, 39, 39);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    letter-spacing: 1px;
    white-space: nowrap;
}
.home .sub__error.success{
    color: green !important;
}

/*logo section---------------------------------------------*/ 
.home .home__logo__display{
    padding: 100px 0 50px;
    box-sizing: border-box;
}
.home .logo__img{
    width: 250px;
    height: 300px;
    background: url('../../assets/images/sjb_logo.jpg') no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}
.home .home__logo__socials{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .home__logo__socials h1{
    margin-right: 15px;
}
.home .home__logo__socials a{
    display: block;
}
.home .home__logo__socials img{
    margin: 0 9px;
    cursor: pointer;
    display: block;
}

@media screen and (max-width:920px){
    .home .slider__products .product{
        width: 26%;
        margin-right: 11%;
    }
}

@media screen and (max-width: 700px){
    .home .stores__center{
        flex-direction: column;
    }
    .home .home__stores{
        height: auto;
        padding-top: 40px;
    }
    .home .stores__text{
        display: flex;
        align-items: center;
        padding-right: 8%;
        box-sizing: border-box;
    }
    .home .stores__text,
    .home .stores__images{
        width:  100%;
        flex-shrink: 0;
    }
    .home .stores__images{
        order: -1;
    }
    .home .stores__text{
        padding-right: 0;
        text-align: center;
        padding-bottom: 50px;
    }
}
@media screen and (max-width:620px){

    .home .cup__img{
        width: 350px;
    }
    .home .btn-wrapper{
        margin-top: 0;
    }
    .home .slider__products .product{
        width: 46%;
        margin-right: 8%;
    }
    .home .home__subscribe h1{
        font-size: 20px;
    }
    .home .home__subscribe .sub__input{
        height: 35px;
    }
    .home .home__subscribe .sub__input button{
        font-size: 13px;
        padding: 0 10px;
    }
    .home .home__subscribe .sub__input{
        margin: 40px auto 0;
    }
}
@media screen and (max-width:420px){
    .home .cup__img{
        width: 280px;
    }
    .home .btn-locate{
        padding: 14px 40px;
        margin: 0 0 20px 0;
    }

    .home .slider__products .product{
        width: 45%;
        margin-right: 10%;
        padding: 5px;
        box-shadow: 0 0 2px 2px rgb(235, 234, 234);
    }

    .home .slider__products{
        padding: 20px 0 40px;
    }
    .home .slider__hidden{
        padding: 50px 0;
    }
    .home .slider__wrapper span.prev,
    .home .slider__wrapper span.next{
        display: none;
    }
    .home .slider__hidden .slider__head{
        font-size: 14px;
    }
    .home .home__subscribe h1{
        font-size: 14px;

    }
    .home .home__subscribe .subscribe__letter{
        padding: 30px 10px 40px;
    }
    .home .home__subscribe .sub__input{
        margin: 30px auto 5px;
    }
    .home .home__subscribe .sub__input button{
        font-size: 11px;
    }
    .home .sub__error{
        font-size: 11px;
        bottom: -24px;
    }
}