.cart__empty{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}

.cart__center{
    margin-top: 90px;
}
.cart__products__number{
    padding: 15px 10px;
    background-color: whitesmoke;
    border-radius: 2px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.cart__content{
    display: flex;
    align-items: flex-start;
}
.cart__products{
    width: 60%;
    flex-shrink: 0;
}

@media screen and (max-width: 1100px){
    .cart__content{
        align-items: stretch;
        flex-direction: column;
    }
    .cart__products{
        width: 100%
    }
}