.auth_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth{
    width: 80%;
    max-width: 320px;
    background-color: white;
    border-radius: 4px;
    padding: 30px 25px;
    position: relative;
    box-sizing: border-box;
}
/* .auth__form__wrapper{
    padding: 20px 20px 20px;
} */
.auth__close{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.auth__headers h1{
    cursor: default;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0 15px;
    color: black;
}

.auth__form input{
    display: block;
    width: 100%;
    padding: 7px 12px;
    box-sizing: border-box;
    /* border-radius: 50px; */
    border-radius: 2px;
    border: none;
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    border: 2px solid black;
}
::placeholder{
    /* color: black; */
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
    opacity: 1;/* for firefox */
    /*this is for firefox*/
}
input:focus{
    outline: none;
}
.auth__field{
    padding-bottom: 35px;
    position: relative;
}
.auth__error{
    position: absolute;
    color: rgb(255, 140, 140);
    margin: 8px 0 0;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}



.auth__form button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    color: white; 
    padding: 10px 18px;
    /* border-radius: 50px; */
    border-radius: 2px;
    background-color: var(--clr-sec);    
    font-size: 12px;
    box-shadow: 0 0 5px 2px rgba(241, 241, 241, 0.473);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 300ms,
                color 300ms;
    cursor: pointer;
    outline: none;
}
.auth__toggle{
    padding: 18px 0px;
}

.auth__toggle span{
    width: 100%;
    display: block;
    text-align: center;
}
.auth__toggle  div{
    text-align: center;
    margin: 5px 0;
    font-size: 12px;
}
.auth__toggle button{
    font-size: 12px;
    color: rgb(77, 159, 214);
    padding: 0;
    border: none;
    outline: none;
    text-transform: capitalize;
    background-color: inherit;
    cursor: pointer;
    letter-spacing: 1px;
}
.auth__spinner{
    text-align: center;
    padding: 4px;
    font-size: 24px;
}
.auth__spinner svg{
    opacity: 0;
}
.auth__spinner.show svg{
    animation: spin 1.2s infinite;
    opacity: 1;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 420px){

    .auth{
        width: 100%;
        max-width: 420px;
        padding: 20px 20px;
        border-radius: 0;
    }   
}